<div class="container">
  <div class="bar-grid">
    <% bars.each do |bar| %>
      <%= link_to bar_path(bar) do  %>
        <div class="card" style="width: 100%">
          <%= cl_image_tag(bar.photo.key, class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"> <%= bar.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> <%= bar.location %></h6>
            <p class="card-text"> <%= truncate(bar.description, length: 120) %>  </p>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
