<div class="container">
  <h2>My Events</h2>
  <% ['pending', 'accepted', 'passed', 'declined'].each do |status| %>
    <h3><%= status.capitalize %></h3>
    <% filtered_events = mybars.flat_map(&:events).select { |event| event.status == status } %>
    <% if filtered_events.any? %>
      <% filtered_events.each do |event| %>
        <div class="card-event">
          <%= cl_image_tag event.bar.photo.key %>
          <div class="card-event-infos">
            <h4> <%= event.name %></h4>
            <h5> <%= event.bar.name %></h5>
            <p>Date: <%= event.date %></p>
            <p>Artist Comment: <%= event.artist_comment %></p>
          </div>
          <div class="events-btn">
            <% if event.status == 'pending' %>
              <% if policy(event).accept? %>
                <%= link_to 'Accept', accept_bar_event_path(mybars, event), class: 'btn btn-success', data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } %>
              <% end %>
              <% if policy(event).decline? %>
                <%= link_to 'Decline', decline_bar_event_path(mybars, event), class: 'btn btn-danger', data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No events with status <%= status %> found.</p>
    <% end %>
  <% end %>
</div>
