<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @bar.photo.key %>);">
  <div class="container">
    <h1><%= @bar.name %></h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <br>
  </div>
</div>


<p> Url : <%= @bar.url %></p>
<p> Téléphone : <%= @bar.telephone %></p>


<br>
<div class="container">
  <h2>My Events</h2>
    <% @bar.events.each do |event|%>
      <p> <%= event.name %></p>
      <p> <%= event.date %></p>
      <p> <%= event.bar_comment %></p>
      <%= link_to 'edit event', edit_bar_event_path(@bar, event) %>
      <%= link_to 'delete event', event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(event).destroy? %>
      <%= link_to 'Accept', accept_bar_event_path(@bar, event), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } if policy(event).accept?  %>
      <%= link_to 'Decline', decline_bar_event_path(@bar, event), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' } if policy(event).decline?  %>

    <% end %>
</div>

<br>
<%= link_to 'Back to Bars', bars_path, class: 'btn btn-dark' %>
<%= link_to 'Edit', edit_bar_path, class: 'btn btn-secondary', method: :patch if policy(@bar).edit? %>
<%= link_to 'Create an event', new_bar_event_path(@bar), class: 'btn btn-success' %>
<%= link_to 'Delete', bar_path(@bar), class: 'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@bar).destroy? %>
