<h2><%= @bar.name %></h2>
<p><%= @bar.url %></p>
<p><%= @bar.telephone %></p>

<br>
<div class="container">
  <h2>My Events</h2>
    <% @bar.events.each do |event|%>
    <p> <%= event.name %></p>
    <p> <%= event.date %></p>
    <p> <%= event.bar_comment %></p>
    <%= link_to 'edit event', edit_bar_event_path(@bar, event) %>
    <%= link_to 'delete event', event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
</div>

<br>
<%= link_to 'Back to Bars', bars_path, class: 'btn btn-dark' %>
<%= link_to 'Edit', edit_bar_path, class: 'btn btn-secondary', method: :patch if policy(@bar).edit? %>
<%= link_to 'Create an event', new_bar_event_path(@bar), class: 'btn btn-success' %>
<%= link_to 'Delete', bar_path(@bar), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>

<%# :name, :url, :telephone, :photo %>
