<div class="row">
  <% ['pending', 'accepted', 'passed', 'declined'].each do |status| %>
    <div class="col-md-3">
      <h3><%= status.capitalize %></h3>
      <% filtered_events = events.select { |event| event.status == status } %>
      <% if filtered_events.any? %>
        <div class="list-group">
          <% filtered_events.each do |event| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= event.name %></h4>
              <p class="list-group-item-text">Date: <%= event.date %></p>
              <p class="list-group-item-text">Bar Comment: <%= event.bar_comment %></p>
              <p class="list-group-item-text">Artist Comment: <%= event.artist_comment %></p>
              <p class="list-group-item-text">Status: <%= event.status %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No events with status <%= status %> found.</p>
      <% end %>
    </div>
  <% end %>
</div>
