
<div class="list-group">
  <% events.each do |event| %>
    <div class="card-event">
      <%= cl_image_tag event.bar.photo.key %>
      <div class="card-event-infos">
        <h2><%= event.name %></h2>
        <p>Date: <%= event.date %></p>
        <p>Bar Comment: <%= event.bar_comment %></p>
        <p>Artist Comment: <%= event.artist_comment %></p>
      </div>
    </div>
  <% end %>
</div>
