<%= render 'shared/navbarmusician' %>

<div class="container mt-3">

  <% ['pending', 'accepted', 'passed', 'declined'].each do |status| %>
    <div class="mb-3 <%= status %>">
      <button class= "btn-<%= status%>"> <%= status.capitalize %> </button>
        <% filtered_events = @my_own_events.select { |event| event.status == status } %>
        <% if filtered_events.any? %>
          <%= render "events", events: filtered_events %>
        <% else %>
          <p>No events with status <%= status %> found.</p>
        <% end %>
    </div>
  <% end %>

</div>
